:root {
    --background-color-white: #FFFFFF;
    --main-background-color: #F3F7FA;
    --text-grey-color: #4A4A4A;
    --filter-border: #DFE5EC;
    --primary-color: #2196F3;
    --primary-dark-color: #15439d;
    --background-color-extra: #DAEAFF;
    --background-color-sidebar-hover: #F1FCFF;
    --text-light-color: #A0B0B9;
}